[ion-ripple] {
  position: relative;
  overflow: hidden !important; }

.ion-ripple {
  display: block;
  position: absolute;
  z-index: 100;
  background-color: #0c5faa;
  border-radius: 50%;
  transform: scale(0);
  will-change: transform; }
  .ion-ripple_animate {
    animation-name: ripple;
    animation-duration: 0.45s; }

@keyframes ripple {
  0% {
    opacity: .4;
    transform: scale(0); }
  100% {
    opacity: 0;
    transform: scale(2.5); } }

/*# sourceMappingURL=ion-ripple.css.map */
