custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-keys {
  width: 100%;
  display: block; }
  custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-keys > custom-keyboard-key {
    height: 56px; }
    custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-keys > custom-keyboard-key > div {
      margin-top: 4px; }
      custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-keys > custom-keyboard-key > div div.key-value {
        font-size: 2.25em; }
      custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-keys > custom-keyboard-key > div div.key-icon {
        font-size: 2em; }
      custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-keys > custom-keyboard-key > div div.key-label {
        font-size: 0.85em;
        padding-top: 6px; }
custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-header {
  height: 48px; }
  custom-keyboard-container.wai-enabled > custom-keyboard > custom-keyboard-header > custom-keyboard-button {
    padding: 14px 20px;
    font-size: 1.4em; }
custom-keyboard-container.dark > custom-keyboard {
  background-color: #383838; }
  custom-keyboard-container.dark > custom-keyboard > custom-keyboard-addons {
    display: block;
    border-top: 1px solid transparent; }
  custom-keyboard-container.dark > custom-keyboard > custom-keyboard-header {
    border-bottom: 1px solid transparent; }
    custom-keyboard-container.dark > custom-keyboard > custom-keyboard-header > custom-keyboard-button {
      color: #f5f5f5; }
  custom-keyboard-container.dark > custom-keyboard > custom-keyboard-keys > custom-keyboard-key {
    border: 1px solid #444;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #f5f5f5;
    background-color: #383838;
    /* REMOVE BORDER TOP */
    /* SPECIAL BUTTON'S */ }
    custom-keyboard-container.dark > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(1), custom-keyboard-container.dark > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(2), custom-keyboard-container.dark > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(3) {
      border-top: 1px solid #444; }
    custom-keyboard-container.dark > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(10), custom-keyboard-container.dark > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(12) {
      background-color: #333; }
custom-keyboard-container > custom-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000;
  z-index: 99999;
  opacity: 0.05; }
custom-keyboard-container > custom-keyboard {
  background-color: #f0f1f2;
  /* Standard syntax */
  animation-duration: 0.35s;
  display: block;
  position: absolute;
  z-index: 99999999;
  bottom: 0px;
  left: 0px;
  right: 0px; }
@keyframes slide-up {
  from {
    bottom: -160px; }
  to {
    bottom: 0px; } }
  custom-keyboard-container > custom-keyboard.slide-up {
    animation-name: slide-up; }
  custom-keyboard-container > custom-keyboard.slide-down {
    animation-name: slide-up;
    animation-direction: alternate-reverse; }
  custom-keyboard-container > custom-keyboard > custom-keyboard-addons {
    display: block;
    border-top: 1px solid #c5c5c5; }
  custom-keyboard-container > custom-keyboard > custom-keyboard-header {
    border-bottom: 1px solid transparent;
    height: 44px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end; }
    custom-keyboard-container > custom-keyboard > custom-keyboard-header > custom-keyboard-button {
      font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      display: block;
      color: #007aff;
      padding: 12px 20px;
      font-size: 1.2em;
      font-weight: bold; }
  custom-keyboard-container > custom-keyboard > custom-keyboard-keys {
    width: 100%;
    display: block; }
    custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key {
      width: 33.3%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      border: 1px solid #c5c5c5;
      border-bottom: 1px solid transparent;
      border-right: 1px solid transparent;
      color: #000;
      background-color: #fff;
      /*  REMOVE BORDER'S */
      /* REMOVE BORDER TOP */
      /* SPECIAL BUTTON'S */ }
      custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key > div div.key-value {
        text-align: center;
        font-size: 1.65em; }
      custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key > div div.key-label {
        text-align: center;
        font-size: 0.7em;
        line-height: 1em;
        padding-top: 2px;
        opacity: 0.8; }
      custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key > div div.key-icon {
        text-align: center;
        font-size: 1.55em; }
      custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(1), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(4), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(7), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(10), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(13), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(16), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(19) {
        border-left: 1px solid transparent; }
      custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(1), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(2), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(3) {
        border-top: 1px solid transparent; }
      custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(10), custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(12) {
        background-color: #d2d6db; }

/*# sourceMappingURL=peanuthub-custom-keyboard.css.map */
